<%- include('partials/site-header.ejs', { bannerShow: false }) %>

<div id="main-wrapper">
  <div class="wrapper style1">
    <div class="inner">
      <section id="errorPage404" class="container box feature1">
        <div class="row">
          <div class="col-12">
            <h3>Erro 404 - Página não encontrada</h3>
          </div>
        </div>
      </section>
    </div>
  </div>                  
</div>

<%- include('partials/site-footer.ejs') %>
