body, input, select, textarea { color: #ddd; }

h1, h2, h3, h4, h5, h6 { color: #ddd; }

b, strong { color: #ddd; }

p, ul, ol, dl, table { margin-bottom: 26px; }

.row > * { padding: 10px 0 0 50px; }

section, article { margin-bottom: 2em; }

header p { color: #ddd; }

header p strong { color: #eee; }

header.major h2, header.major h3 { color: #ddd; }

header.major p { color: #ddd; }

.form label {
	display: block;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.04em;
	color: #404248;
	margin: 0 0 1em 0;
	font-size: 0.8em;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form select,
.form textarea {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	border-radius: 8px;
	border: solid 1px #eee;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form select:focus,
.form textarea:focus { box-shadow: 0 0 2px 1px #4091bf; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] { line-height: 3em; padding: 0 1em; }

.form select { line-height: 3em; padding: 0 1em; }

.form textarea { min-height: 9em; padding: 1em; }

.form ::-webkit-input-placeholder,
.form :-moz-placeholder,
.form ::-moz-placeholder,
.form :-ms-input-placeholder { color: #555 !important; }

.form ::-moz-focus-inner { border: 0; }

.image.logo { margin-top: 5px; margin-left: 2px; }

ul.divided-no-line li { padding: 0.5em 0 0 0; margin: 0.5em 0 0 0; }

ul.divided-no-line li:first-child { border-top: 0 !important; padding-top: 0 !important; margin-top: 0 !important; }

.box.feature1 header.first h2 { color: #ddd; }

ul.icons { cursor: default; list-style: none; padding-left: 0px; }

ul.icons li {
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
}

ul.icons li .icon { font-size: 0.8em; }

ul.icons li .icon:before { font-size: 2em; }

.wrapper { padding: 6em 0 2em 0; }

.wrapper.style1 { text-shadow: 1px 1px 0 #000; background-color: #444; }

.wrapper.style2 { text-align: left; }

#banner { padding: 4em 0 6em 0; }

#main-wrapper { background: #444; }

#footer-wrapper { padding: 7em 0 3em 0; }

#footer ul.divided-no-line li, #footer ul.menu li { border-color: #444; border-color: rgba(255, 255, 255, 0.075); }

#footer ul.divided-no-line li a { text-decoration: none; }

#copyright { padding: 3em 0 0 0; }

#promo-wrapper {
	position: relative;
	background-size: 192px 192px, cover;
	background-position: top left, center center;
	color: #fff;
	text-align: center;
	padding: 6em 0 6em 0;
}

#promo {
	background: rgba(255, 255, 255, 0.05);
	border: solid 1px rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	padding: 3em 2.5em 1.75em 2.5em;
	display: inline-block;
	position: relative;
	z-index: 1;
}

#promo h2 { color: #fff; display: inline-block; margin-right: 1em; font-size: 1.75em; }

#promo .button { border-color: rgba(255, 255, 255, 0); color: #27636B; font-size: 1.25em; }

@media screen and (max-width: 1280px) {
	#banner { padding: 2em 0 2em 0; }
}

@media screen and (max-width: 1100px) {
    input.nav-search { display: none; }
}

@media screen and (max-width: 980px) {
	#banner { padding: 2em 0 4em 0; }	
}

@media screen and (max-width: 736px) {
	#footer-wrapper { padding: 3em 0 3em 0; }

	#banner { padding: 20px 20px 40px 20px; }	
}
